<h1>All Users</h1>
<%= link_to "Sign out", destroy_user_session_path, 
        'data-turbo-method': :delete, class:"sign-out" %>
<ul>
  <% @users.each do |user| %>
    <div class="user-row">
      <div class="user-photo">
        <img src="<%= user.photo %>" alt="User Photo">
      </div>
      <div class="user-info">
        <%= link_to user.name, user_path(user) %>
        <div class="post-counter">Number of posts: <%= user.posts.count %></div>
      </div>
    </div>
  <% end %>
</ul>
