/* Create Post on behalf of user */
.new-post {
  color: rgb(47, 0, 255);
}

.Add-post-container {
  display: flex;
  gap: 0.5rem;
}

/* Add comment form */
.add-comments-container {
  max-width: 500px;
  margin: -11px auto 20px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  padding: 10px;
}

.add-comment-div {
  display: flex;
  gap: 1rem;
}

.add-comment-div .comment textarea {
  border: 1px solid #2f2626;
  height: 20px;
  width: 100%;
}

.add-comment-button input[type="submit"] {
  background-color: #1c3e63;
  color: #fff;
  padding: 5px 20px;
  margin-top: 20%;
  border: none;
  cursor: pointer;
}

/* Devise forms styles */

/* sign up form */
.signup-heading {
  margin-left: 45%;
}

.sign-up-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.username-div,
.email-div,
.set-password,
.confirm-password {
  margin-bottom: 15px;
}

.label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.actions {
  text-align: center;
}

input {
  padding: 8px;
  box-sizing: border-box;
  width: 20rem;
  margin: auto;
}

.remember-me {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.remember-me input {
  margin-right: 5px;
}

.actions input {
  background-color: #3819e5;
  color: white;
  padding: 10px 15px;
  border: none;
  margin: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.actions input:hover {
  background-color: #45a049;
}

/* Log in form */

.login-heading {
  margin-left: 45%;
}

.log-in-form {
  width: 35%;
  height: 50%;
  margin: 0 auto;
  padding: 20px;
}

.field {
  margin-bottom: 15px;
}

.login-btn {
  margin-left: -15rem;
}

/* Edit user form */

.edit-user-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.i-text {
  font-style: italic;
  color: #666;
}

.cancel-account {
  margin-top: 20px;
  text-align: center;
}

.cancel-account a {
  color: red;
  text-decoration: none;
}

.shared-links-container {
  max-width: 300px;
  margin: -20px auto;
}

.shared-links-container a {
  display: block;
  text-decoration: none;
  color: #007bff;
  margin: 10px 1px 1px -50px;
}

.shared-links-container a:hover {
  text-decoration: underline;
}

.cancel-account a:hover {
  text-decoration: underline;
}

.delete-button {
  background-color: red;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
}

.sign-out {
  color: #007bff;
  margin-left: 80rem;
  font-size: 32px;
  font-weight: 600;
  font-style: italic;
}
